h1{
  font-family: sans-serif;
  color: #6610f2;
  align-items: center;
}

nav{
  font-family:sans-serif;
  color: #6610f2;
}

/*  WHY IS THIS NOT WORKING?!? */
button{
  background-color: #6610f2;
  cursor: pointer;
}

h2{
  font-family: sans-serif;
  color: gray;
  font-size: 12;
  text-align: center;
}

div{
  text-align: center;
}

img{
  display: block;
  padding: 20px
  margin-left: auto;
  margin-right: auto;
  border-radius: 150px;
  height: 200px;
  width: 60%;
}
