h1{
  font-family: cooper black;
  color: chartreuse;
  background-color: black;
  
}

h2{
  font-family: cursive;
  font-size: 32;
  color: inherit;
}

ul{
  font-family: cursive;
  font-size: 26;
  color: inherit;
}
