h1{
  font-family: cooper black;
  font-size: 4em;
  color: #6610f2;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
  }

  nav{
    font-family:sans-serif;
    color: #6610f2;
  }

  /*  WHY IS THIS NOT WORKING?!? */
  button{
    background-color: #6610f2;
    cursor: pointer;
  }

h2{
  font-family: sans-serif;
  font-size: 2em;
  color: inherit;
}

h5{
  font-size: 3em;
  font-style: bold;
}

img{
  padding-bottom: 5%;
}

carousel-items{
  shape-inside: ellipse();
}

/* I added the styling from the website we learn to make the enlarging of the options */

div2{
  font-family: sans-serif;
  font-size: 2em;
  list-style: none;
  padding: 0;
  margin-bottom: 10%;
  display: flex;
  justify-content: space-evenly;
}

  ul{

    li#lower{
      margin-top: 7%;
    }

    li#lowest{
      margin-top: 14%;
    }

    li{
      list-style: none;
      display: flex;
      }

    li{
      margin: 0 20px;
      transition: 0.6s ease;
    }

    li:hover{
      font-size: 1.2em;
      transition: 0.6s ease;
    }
  }


p{
  font-family: sans-serif;
  font-size: 2em;
  color: inherit;
  text-align: center;
  margin: 0 20px;
  transition: 0.6s ease;
  margin-bottom: 20%;
}
  p:hover{
    font-size: 2.2em;
    transition: 0.6s ease;
  }
